# Dependencias
node_modules/

# Variables de entorno (¡NUNCA subir esto a Git!)
.env
.env.local
.env.*.local

# Build
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
